<% layout('./boilerplate.ejs') %> 


<!-- Images -->

<div  id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img style="height:500px; width:100%" src="/pictures/main3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img style="height:500px; width:100%" src="/pictures/main2.jpg" class="d-block w-100" alt="">
      </div>
      <div class="carousel-item">
        <img style="height:500px; width:100%" src="/pictures/main.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <style>
    .stats{
      height:50vh;
      width:100%;
      border: 10px solid rgb(255, 0, 0);
      background-color:red;
      color:white;

    }
    .col{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    
  </style>
  

  <div class="stats text-center">

    <div style="height:100%; align-items:center" class="row">
      <div class="col">


       <h2 class="text-white">10K+ Clients</h2> 
      </div>
      <div class="col">
        <h2 class="text-white">500+ Sites</h2>
      </div>
      <div class="col">
        <h2 class="text-white">300+ Guides</h2> 
      </div>
    </div>

  </div>

  <div style="height:100vh; width:100%; background-color:rgb(157, 157, 255);" class="sites">

    <h1 style="color:darkblue; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" class="text-center my-3 py-5">The Popular Heritage Sites</h1>

  

  </div>

  <div style="height:100vh; width:100%; background-color: white;"class="sites">

    <h1 style="color:darkblue; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" class="text-center my-3 py-5">Our Popular Guides</h1>


  </div>

  <div style="height:100vh; width:100%; background-color: blue ;"class="sites">

    <h1 style="color:rgb(255, 255, 255); font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" class="text-center my-3 py-5">More from us!</h1>


    

  


  </div>




